.Rproj.user
.Rhistory
.RData
.Ruserdata
raw_data/nchs/
raw_data/MMG*
calculations/v147*
calculations/v127*
calculations/v129*
temp/
raw_data/HIFLD/googledrive
data/

# raw data
raw_data/ACS/*.pq
raw_data/ACS/2023/*.pq
raw_data/ACS/2024/*.pq
raw_data/CHAS/*-csv.zip
raw_data/USCB/cc-est2024*.csv

# R configuration and environment
.Rprofile
renv/
.posit/

# environment file with secrets
.Renviron

# Quarto notebooks
/.quarto/
**/*.quarto_ipynb
*.html
